<h2 style="background-color: paleturquoise;">test works!</h2>
<p style="color: blueviolet;">It's {{name}}</p>
<!--aise curly bracks ke andar print krane ko interpolation bolte hai
its a simplest way to bind data from class to template-->
<p> {{2+2}}</p>
<p> {{"so its me concatenated" + name}}</p> <!--yha pe 4 or string concatenated hoke print ho jayegi
   kyuki bracks ke andar h mtlb type script chlega-->
   <p>{{name.length}}</p>
   <p>{{name.toUpperCase()}}</p> <!--we can use function and array thing as well-->
   <h5>{{greetUser}}</h5><!--yha pr funtion wala bracket nhi hai islie ye yha pr poori ramayan print ho gyi-->
   <h5>{{greetUser()}}</h5><!--function bhi print kra skte h-->
   <!--Limitations-->

   <!-- <h6>{{a = 2+2}}</h6> | Parser Error: Bindings cannot contain assignments
assignment possible nhi hai-->

<!--  <p>{{window.location.href}}</p> -->
<!-- ek or limitation ye hai ki global variable such as window or screen etc ye sb use nhi kr skte
but if u want to use it to ts file me declare kr lo fir use kr lo binding ke through-->
<p>{{siteUrl}}</p>
<input type="text" value="Angular Basic"> <!--$0.getAttribute("value") | isse value print ho jayega console pe |
agr UI pe value change kro textfield me to bhi $0.getAttribute("value") isse abi bhi value jo set hai whi print hogi
lekin $0.value se jo UI field pe edited value print hogi
$0 current element ko represent krta hai jisko inspect kia hota h consle pe google Chrome pe-->

<!-- from here you can notice
Attribute vs Property
1. Attribute and Property are not same.
2. Attribute defines by <HTML> while Properties defined by <DOM> Document object Model
3. Attributes initialize DOM properties and then they are done. Attribute values cannot changed once they are initiated.
4. Property values however can change
for above example value= Angular Basic is Attribute which initiated its value later on the UI if you change that called Property value -->
